.navbar
{
    background-color: #ffffff;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

body
{
    background: #BE93C5;
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
    background: linear-gradient(to right, #7BC6CC, #BE93C5);
    
}

.container
{
    align-items: center;
    margin: 0 auto;
}

.img_area
{
    text-align: center;
    margin: 0 auto;
    opacity: .8;
}

.banner
{
    max-height: 300px;
}

.btn_area
{
    text-align: center;
    margin: 0 auto;
}

.muted
{
    background-color: #a38e71;
    border: #a38e71;
    opacity: 1.2;  
    transition: .2s; 
    color: white;
}

#btn, #exit
{
    background-color: none;
    border-radius: .5rem;
    border: 2px solid #ffffff;
    opacity: 1;  
    transition: 1s; 
    color: white;
    font-weight: 500;
}

#btn:hover, #exit
{
    background-color: white;
    color: black;
}

.mode_title
{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
}

#word_length
{
    border: none;
    opacity: .8;
    border-radius: .5rem;
}

.gametable
{
    background-color: none;
    opacity: 0.7;
    padding: 5px;
    border-spacing: 8px;
    border-radius: 5px;
    border-collapse: separate;
    margin: 0 auto;
    text-align: center;
    
}

.gametable tr td
{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 45px;
    line-height: 45px;
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    transition: 0.5s;
}

.gametable tr td.used
{
    background-color: #f0d6b2;
}

.gametable tr td.correct
{
    background-color: rgb(132, 194, 165);
}

.gametable tr td.wa
{
    background-color: rgb(131, 131, 131);
}

#guessword
{
    width: 80%;   
}

#guess
{
    width: 20%;
    background-color: #a2e3f7;
    border: #a2e3f7;
    opacity: 1;  
    transition: .2s; 
    color: white;
}

#guess:hover
{
    opacity: 1;
}

.space
{
    height: 50px;
}

.footerblock
{
    background: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%; 
    font-size: 1rem;
    font-weight: 900;
}